/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #F38D31;
  font-family: "Lato", sans-serif;
  background-image: url(../images/background-2.png); }

p {
  line-height: 20px !important;
  letter-spacing: 1px; }

h1, h2, h3, h4, h5, h6 {
  color: #414141 !important; }

canvas#granim {
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0.7; }

#side-bar {
  width: 97%;
  height: 50px;
  background: #fafafa;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #D3D3D3;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  transition: height 0.25s linear;
  position: fixed;
  transform: translate(-50%, 0);
  left: 50%;
  overflow: hidden;
  z-index: 1000; }
  #side-bar .header {
    width: 100%;
    height: 120px;
    position: relative;
    top: 0;
    display: none;
    padding: 20px;
    text-align: center; }
    #side-bar .header img {
      height: 70px;
      display: inline-block; }
  #side-bar .body {
    display: none;
    overflow: scroll; }
    #side-bar .body .body-top-buttons {
      width: 100%;
      height: 30px;
      text-align: center; }
      #side-bar .body .body-top-buttons button {
        border-top: 1px solid #D3D3D3;
        border-right: 1px solid #D3D3D3;
        border-left: 1px solid #D3D3D3;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 45%;
        height: 100%;
        background: rgba(200, 200, 200, 0.7);
        display: inline-block;
        z-index: 25;
        position: relative;
        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.4); }
      #side-bar .body .body-top-buttons button.active {
        background: #fafafa;
        border-bottom: 1px solid white;
        box-shadow: none;
        color: rgba(0, 0, 0, 0.7);
        font-weight: 700; }
    #side-bar .body .content {
      border-top: 1px solid #D3D3D3;
      width: 100%;
      position: relative;
      overflow-y: scroll; }
      #side-bar .body .content .location-wrapper {
        width: 100%;
        padding: 20px 20px 20px 20px;
        border-bottom: 1px solid #D3D3D3;
        text-align: center;
        height: 75px; }
        #side-bar .body .content .location-wrapper select {
          border: 1px solid #D3D3D3;
          height: 30px;
          width: 100%;
          float: left;
          display: inline-block;
          background: #ECECEC;
          box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1); }
        #side-bar .body .content .location-wrapper div {
          width: 30px;
          height: 30px;
          float: left;
          display: inline-block;
          border-left: 1px solid #D3D3D3;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          margin-left: -30px;
          padding-top: 6px;
          padding-right: 2px;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
          pointer-events: none; }
      #side-bar .body .content .settings-wrapper {
        padding: 25px 35px 70px 35px;
        height: 280px;
        overflow-y: scroll; }
        #side-bar .body .content .settings-wrapper .budget, #side-bar .body .content .settings-wrapper .square-feet, #side-bar .body .content .settings-wrapper .rooms {
          color: rgba(0, 0, 0, 0.7);
          margin-bottom: 65px; }
          #side-bar .body .content .settings-wrapper .budget .min, #side-bar .body .content .settings-wrapper .budget .max, #side-bar .body .content .settings-wrapper .square-feet .min, #side-bar .body .content .settings-wrapper .square-feet .max, #side-bar .body .content .settings-wrapper .rooms .min, #side-bar .body .content .settings-wrapper .rooms .max {
            width: 60px;
            height: 25px;
            margin-top: 17px;
            background: #ECECEC;
            box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            text-align: center;
            padding-top: 7px;
            color: rgba(0, 0, 0, 0.6);
            font-size: 0.8em; }
          #side-bar .body .content .settings-wrapper .budget .min, #side-bar .body .content .settings-wrapper .square-feet .min, #side-bar .body .content .settings-wrapper .rooms .min {
            float: left; }
          #side-bar .body .content .settings-wrapper .budget .max, #side-bar .body .content .settings-wrapper .square-feet .max, #side-bar .body .content .settings-wrapper .rooms .max {
            float: right; }
  #side-bar .footer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 200;
    background: white;
    border-top: 1px solid #D3D3D3; }
    #side-bar .footer button {
      display: block;
      margin: 0 auto;
      position: relative;
      top: 20%;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      border: none;
      padding: 2px 0px 0px 1px;
      color: white;
      background: #F04838;
      transition: background 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
      box-shadow: 0px 2px 7px rgba(100, 100, 100, 0.4); }
    #side-bar .footer button:hover {
      background: #FF4938; }
    #side-bar .footer button:active {
      box-shadow: inset 0px 0px 7px rgba(100, 100, 100, 0.5);
      transform: scale(0.9); }

#views {
  position: fixed;
  z-index: 900;
  bottom: 15px;
  right: 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px; }
  #views button {
    background: rgba(200, 200, 200, 0.7);
    padding: 12px;
    color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
    border: none; }
  #views button:nth-child(1) {
    margin-right: -4px;
    position: relative;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  #views button:nth-child(2) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  #views button.active {
    background: #fafafa;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.7); }

#list {
  width: 100%;
  top: 50px;
  text-align: center;
  position: relative; }
  #list .loading-screen {
    width: 100vw;
    height: 100vh;
    background: rgba(150, 150, 150, 0.5);
    position: fixed;
    z-index: 901;
    margin-top: -50px;
    display: none; }
    #list .loading-screen .spinner {
      position: fixed;
      -webkit-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, 50%);
      -moz-transform: translate(-50%, 50%);
      top: 50%;
      left: 50%;
      margin-left: -26px; }
      #list .loading-screen .spinner i {
        color: #a0a0a0;
        font-size: 3.5em;
        position: absolute;
        z-index: 902;
        margin-top: -2px;
        margin-left: -2px;
        animation-name: spinner;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; }
      #list .loading-screen .spinner div {
        width: 52px;
        height: 52px;
        border-radius: 26px;
        border: 6px solid #e6e6e6;
        position: absolute;
        z-index: 901; }
  #list .listing {
    display: inline-block;
    width: 90%;
    background: red;
    height: 250px;
    background: #fafafa;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    padding: 10px;
    text-align: left;
    color: #8c8c8c;
    font-weight: 300;
    font-size: 0.9em;
    position: relative;
    -webkit-transition: transform 0.15s ease-in-out;
    -moz-transition: transform 0.15s ease-in-out; }
    #list .listing .listing-date {
      position: absolute;
      width: 40px;
      height: 50px;
      background: #fafafa;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
      right: -5px;
      top: -5px;
      border-radius: 5px; }
      #list .listing .listing-date .listing-month {
        width: 100%;
        height: 20px;
        text-align: center;
        padding-top: 3px;
        background: rgba(0, 0, 0, 0.1);
        font-weight: 700;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        font-weight: 300; }
      #list .listing .listing-date .listing-day {
        text-align: center;
        margin-top: 7px;
        font-size: 1.3em;
        color: #71C654;
        font-weight: 700; }
      #list .listing .listing-date .listing-day.old-month {
        color: #F04838; }
    #list .listing .listing-picture {
      width: 100%;
      height: 55%;
      background: rgba(0, 0, 0, 0.1);
      margin: 0 auto;
      background-size: cover;
      background-position: 50% 50%; }
    #list .listing li:nth-child(2), #list .listing li:nth-child(3) {
      margin-top: 8px; }
    #list .listing .like-button {
      right: 10px;
      bottom: 20px;
      position: absolute;
      width: 40px;
      height: 50px;
      border: 1px solid gainsboro;
      border-radius: 5px;
      background: #f0f0f0;
      font-size: 1.5em;
      box-shadow: 0px 3px 5px rgba(200, 200, 200, 0.5);
      color: #c8c8c8;
      padding: 0 5px 0 5px; }
  #list .listing:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.05); }
  #list .listing:active {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98); }

#window {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: whitesmoke;
  top: 0;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden; }
  #window .window-top-bar {
    width: 100%;
    position: fixed;
    height: 40px;
    background: #F38D31;
    z-index: 1000;
    padding: 0px 20px 0px 20px;
    box-shadow: 0px 4px 10px rgba(100, 100, 100, 0.2); }
    #window .window-top-bar button {
      background: none;
      border: none;
      display: inline-block;
      padding-top: 0px;
      height: 100%;
      white-space: nowrap;
      color: #fafafa; }
    #window .window-top-bar button:hover {
      background: #FF7B0B; }
    #window .window-top-bar .window-share-button {
      border-left: 1px solid #EC8A30; }
    #window .window-top-bar .window-share-button, #window .window-top-bar .window-save-button {
      float: left;
      border-right: 1px solid #EC8A30; }
    #window .window-top-bar .window-close-button {
      float: right; }
  #window .close-button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.2);
    color: #fafafa;
    transition: background 0.15s ease-in-out;
    display: none; }
  #window .close-button:hover {
    background: rgba(0, 0, 0, 0.5); }
  #window .picture-wrapper {
    width: 100%;
    height: 50%;
    background: #c8c8c8;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    cursor: pointer;
    margin-top: 40px; }
    #window .picture-wrapper .picture {
      width: 100%;
      height: 100%;
      display: inline-block;
      white-space: normal;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-color: black; }
  #window .slider-controller-wrapper {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%; }
    #window .slider-controller-wrapper .controller {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      border: 1px solid #505050;
      margin: 0px 5px 0px 5px;
      cursor: pointer; }
    #window .slider-controller-wrapper .controller.active {
      background: #F38D31; }
  #window .info-wrapper {
    padding: 20px 20px 50px 20px; }
    #window .info-wrapper .general-info-1 li {
      list-style: none;
      float: left; }
    #window .info-wrapper .general-info-2 {
      white-space: nowrap; }
      #window .info-wrapper .general-info-2 .price-row .expiration {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: #F33D3C;
        display: inline-block;
        margin-right: 5px; }
      #window .info-wrapper .general-info-2 .features {
        text-align: center; }
        #window .info-wrapper .general-info-2 .features span {
          font-weight: bold; }
        #window .info-wrapper .general-info-2 .features h6 {
          margin-top: 10px; }
    #window .info-wrapper .listed-features span.soft {
      color: #969696 !important; }
    #window .info-wrapper .listed-features .contact .contact-form {
      width: 100%;
      height: 100%;
      background: #fafafa;
      padding-bottom: 25px;
      margin-top: -5px;
      border-radius: 5px;
      box-shadow: 0px 5px 10px rgba(150, 150, 150, 0.6); }
      #window .info-wrapper .listed-features .contact .contact-form .top-bar {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        width: 100%;
        background: #F38D31;
        margin-bottom: 20px;
        text-align: center; }
        #window .info-wrapper .listed-features .contact .contact-form .top-bar h3 {
          color: #fafafa !important;
          padding: 5px 0px 5px 0px; }
      #window .info-wrapper .listed-features .contact .contact-form label {
        text-align: center;
        display: block; }
      #window .info-wrapper .listed-features .contact .contact-form input, #window .info-wrapper .listed-features .contact .contact-form textarea {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        background: whitesmoke;
        border: 1px solid #e6e6e6; }
      #window .info-wrapper .listed-features .contact .contact-form input:focus, #window .info-wrapper .listed-features .contact .contact-form textarea:focus {
        box-shadow: 0px 5px 10px rgba(150, 150, 150, 0.3); }
    #window .info-wrapper .similar-listing .col-sm-3 {
      height: 150px;
      margin-top: 10px; }
    #window .info-wrapper .similar-listing .listing-sim {
      background: #c8c8c8;
      border: none;
      width: 100%;
      height: 100%; }

#side-bar.active {
  height: 98%; }

.clear {
  clear: both; }

.text-center {
  text-align: center; }

.bold {
  font-weight: bold; }

.nowrap {
  white-space: nowrap; }

@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=main.css.map */
